.commentBox {
  background-color: antiquewhite;
  border: 2px solid rgb(59, 130, 246);
  margin: 3px;
  overflow-y: auto;
  border-radius: .5rem;
}

.commentBox p {
  border-bottom: 1px solid black; 
  padding-left: 2rem;
  text-align: left;
}

.comment {
  padding: .75rem;
  border: 2px solid rgb(59, 130, 246);
  border-radius: .5rem;
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.comment .header {
  color: hsl(235, 50%, 67%);
  display: flex;
  justify-content: space-between;
  margin-bottom: .75rem;
  font-size: .75em;
}
.comment .header .name {
  font-weight: bold;
}
.comment-stack {
  margin: .5rem;
}

.comment-stack:last-child {
  margin-bottom: 0;
}
.message{
  float: left;
}
.comment .message {
  white-space: pre-wrap;
  margin-left: .5rem;
  margin-right: .5rem;
}
.commmentFooter {
  display: flex;
  justify-content: space-between;
  margin-top: .25rem;
}
.nested-comments {
  padding-left: .25rem;
  flex-grow: 1;
  margin-top: .5rem;
}
.nested-comments-stack {
  display: flex;
}

.collapse-line {
    border: none;
    background: none;
    padding: 0;
    width: 15px;
    margin-top: .5rem;
    position: relative;
    cursor: pointer;
    outline: none;
    transform: translateX(-50%);
  }
.collapse-line:hover::before,
.collapse-line:focus-visible::before {
  background-color: hsl(235, 100%, 60%);
}

.collapse-line::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: hsl(235, 50%, 74%);
  transition: background-color 100ms ease-in-out;
}

.hide {
  display: none;
}

.comment-form-row {
  display: flex;
  gap: .5rem;
}
.message-input {
  flex-grow: 1;
  resize: none;
  height: 70px;
  border-radius: .5em;
  padding: .5em;
  font-size: inherit;
  font-family: inherit;
  border: 2px solid rgb(59, 130, 246);
  line-height: 1.4;
}

.message-input:focus {
  border-color: rgb(59, 130, 246);
  outline: none;
}
.post-button {
  --hue: 235;
  --color: rgb(59, 130, 246);
  padding: .5em 1em;
  background: var(--color);
  border: none;
  color: white;
  border-radius: .5em;
  font-size: .75em;
  cursor: pointer;
}

.post-button:hover,
.btn:focus-visible {
  --color: rgba(0, 0, 255, 0.653);
}

.post-button.icon-btn {
  background: none;
  color: var(--color);
  padding: .25em;
  display: flex;
  align-items: center;
}