.cardButton {
    z-index: -1;
  }
  
  .cardButton:hover {
    background-color: #bbc6cd7d;
    border-radius: 1%;
  }
  
  .cardButton:active {
    background-color: #bbc6cdb6;
    border-radius: 1%;
  }

  .mainImage {
    /* border-radius: 1%;  */
    object-fit: cover;
    width: 100%;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  .card {
    margin: 10px;
    border: 2px solid black;
    border-radius: 3px;
  }
  .card:hover .overlay-button {
    opacity: 1;
  }

  .likeButton {
    position: absolute; 
    bottom: 0;
    right: 0;
    padding-right: 2px;
    cursor: pointer;  
  } 
  
  /* Styling button */
  .likeButton {
    z-index: 1;
  }
  