.card-container {
    position: relative;
  }
  
  .card-content {
    position: relative;
  }
  
  .card-img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .like-button-container {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust as needed */
    padding: 10px; /* Adjust as needed */
  }
  
  .card-content:hover .like-button-container {
    opacity: 1;
  }
  