/* .cardButton {
    z-index: -1;
  }
  
  .cardButton:hover {
    background-color: #bbc6cd7d;
    border-radius: 1%;
  }
  
  .cardButton:active {
    background-color: #bbc6cdb6;
    border-radius: 1%;
  }

  .mainImage {
    object-fit: cover;
    width: 100%;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  .card {
    margin: 10px;
    border: 2px solid black;
    border-radius: 3px;
  }
  .card:hover .overlay-button {
    opacity: 1;
  }

  .likeButton {
    position: absolute; 
    bottom: 0;
    right: 0;
    padding-right: 2px;
    cursor: pointer;  
  } 
  

  .likeButton {
    z-index: 1;
  }
   */

.card-container {
  position: relative;
}

.card-content {
  position: relative;
}

.card-img {
  display: block;
  width: 100%;
  height: auto;
  transition: filter 0.3s ease;
}

.card-content:hover .card-img,
.card-content .like-button-container:hover ~ .card-img {
  filter: brightness(85%);
}

.like-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3px;
}

.card-content:hover .like-button-container {
  opacity: 1;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 16px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 16px;
}
