.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cardButton {

}

.cardButton:hover{
  background-color: #bbc6cd7d;
  border-radius: 3%;

}

.cardButton:active{
  background-color: #bbc6cdb6;
  border-radius: 3%;
}

.leftCentered {
  padding-left: 1rem;
  text-align: left;
}
.mainImage {
  border-radius: 3%;
  
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px

}