.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cardButton {
  z-index: -1;
}

.cardButton:hover {
  background-color: #bbc6cd7d;
  border-radius: 1%;
}

.cardButton:active {
  background-color: #bbc6cdb6;
  border-radius: 1%;
}

.leftCentered {
  padding-left: 1rem;
  text-align: left;
}

.mainImage {
  /* border-radius: 1%; */
  object-fit: cover;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.singleImage {
  border-radius: 0%;
  object-fit: cover;

  height: 500px;
}

.singleViewBody p {
  background-color: antiquewhite;
  border: 2px double black;
  margin: 3px;
}

.commentBox {
  background-color: antiquewhite;
  border: 2px double black;
  margin: 3px;
}

.commentBox p {
  border-bottom: 1px solid black; 
  padding-left: 2rem;
  text-align: left;
}

.backButton {
  background-color: transparent;
  border-color: black;
  border: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1;
  width: 100%;
  /* Large, mobile-friendly touch target */
  border-radius: 3px;
  margin-bottom: 3%;

  /* Media Queries */
  @media (min-width: 37.5em) {
    width: auto;
    padding: 0.4rem 2rem;
  }
}

.backButton:hover {
  border: 2;
  background-color: #c8ddd3;
}

.backButton:active {
  background-color: #bcdff7;
}

.heading {
  text-align: center;
  padding-top: 20px;
  font-size: larger;
}

.singleCard img {
  border: 2px solid black;
}

.card {
  margin: 10px;
  border: 2px solid black;
  border-radius: 3px;
}
.card:hover .overlay-button {
  opacity: 1;
}

.formInput {
  margin: 10px;
  align-items: end;
  list-style-position: inside;
}

.submitButton {
  margin-top: 10px;
  background-color: transparent;
  border-color: black;
  border: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1;
  width: 100%;
  /* Large, mobile-friendly touch target */
  border-radius: 3px;

  /* Media Queries */
  @media (min-width: 37.5em) {
    width: auto;
    padding: 0.4rem 2rem;
  }
}

.submitButton:hover {
  border: 2;
  background-color: #bcf7e2b6;
}

.submitButton:active {
  background-color: #bcf7e2;
}

.image-preview img {
  max-width: "300px";
  max-height: "300px";
  padding-top: "5px";
}

.imageUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-color: black;
}

.imageInput {
  padding-left: 20%;
}

.home-link:hover {
  border-bottom: 2px solid #4fa4df;
}

.following-link:hover {
  border-bottom: 2px solid #5cd8a3;
}

.upload-link:hover {
  border-bottom: 2px solid #f5c45a;
}

.profile-link:hover {
  border-bottom: 2px solid #4249eb;
}

.userProfileContainer {
  background-color: #d9d9d9;
  border: #282c34 solid;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  overflow: hidden;
  /* height:500px; */
}

.userProfileImageContainer {
  margin-top: 1rem;
  width: 300px; /* Set the width of the container */
  height: 300px; /* Set the height of the container */
  overflow: hidden; /* Hide any overflow to create the circular shape */
  border-radius: 50%;
}

.userProfileImageContainer img {
  margin: 0 auto;
  width: 100%; /* Make the image fill the container's width */
  height: 100%;
  object-fit: cover; /* Preserve the aspect ratio and cover the entire container */
  transform: scale(1.2); /* You can adjust the scaling factor as needed */
}

.userProfileImageContainer:hover img {
  transform: scale(1.4); /* You can adjust the scaling factor as needed */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.badgeContainer {
  /* display: flex; */

  margin-left: 5rem;
  margin-top: 32px;
  padding-top: 12px;
  text-align: center;
  width: 500px;
  height: 50px;
  background-color: #d9d9d9;
}

.aboutContainer {
  background-color: #d9d9d9;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px;
  overflow: hidden;
  border: #282c34 solid;
}

.aboutContainer p {
  padding-left: 3rem;
  text-align: left;
}
.editButton {
  margin-top: 15px;
  padding: 0 10px;
  border-radius: 5%;
  justify-content: center;
  justify-content: space-evenly;
}

.editButton:hover {
  border: 2;
  background-color: #5959593d;
}

.editButton:active {
  border: 2;
  background-color: #3a39393d;
}

.signOutContainer {
  margin-left: 5rem;
  margin-top: 2rem;
  padding-top: 12px;
  text-align: center;
  width: 500px;
  height: 50px;
  background-color: #d9d9d9;
}
.signOutContainer :hover {
  background-color: #282c34;
}

.signOutButton {
  margin-top: 2px;
  padding: 2px 15px;
  border-radius: 5%;
}

.signOutButton:hover {
  border: 2;
  background-color: #5959593d;
}

.signOutButton:active {
  border: 2;
  background-color: #3a39393d;
}
.profileContainer {
  display: flex;
  justify-content: space-between;
}
.leftContainer {
  flex-basis: 40%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  margin-right: 4px;
}

.middleContainer {
  /* flex-basis: 33%; */
  margin-left: 4px;
  margin-right: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rightContainer {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  padding-right: 1rem;
}

.usersPhotos {
  margin-top: 0;
  margin-bottom: 7px;
  padding-top: 0%;
  margin-right: 0;
  background-color: #d9d9d9;
  /* width:50%; */
}

.usersLikedPhotos {
  margin-top: 2rem;
  margin-right: 5rem;
  background-color: #d9d9d9;
}

.miniPosts {
  text-align: center;
  height: 411px; /* Set the desired height */
  overflow: auto; /* Enable scrolling for overflowing content */
}

.followerContainerImg {
  /* flex: 1; */
  align-items: center;
  overflow: hidden;
  height: 90px;
  width: 20%;
}

.followerContainerImg img {
  margin: 10px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.followerContainerImg:hover img {
  transform: scale(1.2); /* You can adjust the scaling factor as needed */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.followerContainer {
  background-color: #d9d9d9;
  border: #282c34 solid;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 95%;
  box-sizing: border-box; /* Include padding and border in the specified width */
}

.followerContainer h2 {
  font-size: small;
}

.followerContainer button {
  /* display: block; */
  width: 100px;
  height: 30px;
  font-size: medium;
  margin-right: 2px;
  border-radius: 5%;
}

.followerContainer button:hover {
  background-color: #5959593d;
}

.followerContainer button:active {
  background-color: #3a39393d;
}

.footer {
  display: flex;
  justify-content: center;
  background: #f1eeee;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer img {
  background-color: transparent;
  height: 30px;
  mix-blend-mode: multiply;
  margin-right: "10px";
}

.aboutMeCategories {
  float: left;
}
@media (901px <= width <= 1024px) {
  .userProfileWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .usersLikedPhotos {
    margin-right: 0%;
  }
}
@media (300px <= width <= 900px) {
  .App {
    margin-right: 0%;
    margin-left: 0%;
  }
  .userProfileWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4249eb;
  }
  .usersLikedPhotos {
    margin-right: 0%;
  }
}

.line {
  border: 1px solid #ccc;
  margin-left: auto;
}

/* Formating button */
.overlay-button {
  position: absolute; /* Position the overlay button relative to the container */
  top: 0;
  left: 0;
  background-color: rgba(
    0,
    0,
    0,
    0
  ); /* Make the button background transparent */
  cursor: pointer; /* Show the pointer cursor when hovering over the button */
  opacity: 0;
  z-index: 1;
}

/* Styling button */
.overlay-button {
  /* background-color: #ffffff; */
  color: white;
  margin: 2px;
  padding: 0 2px;
  font-size: 12px;
  border-radius: 15%;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  /* text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, */
  /* 2px 2px 0 white; */
}

.overlay-button:hover {
  background-color: #d0d0d0;
}

.followFollowingButton {
  display: flex;
  float: left;
  margin-bottom: 15px;
}

.followFollowingButton:hover {
  color: #4249eb;
}

.followFollowingButton:active {
  color: #0008fb;
}

/* Formating button */
.likeButton {
  position: absolute; /* Position the overlay button relative to the container */
  bottom: 0;
  right: 0;
  padding-right: 2px;
  cursor: pointer; /* Show the pointer cursor when hovering over the button */
}

/* Styling button */
.likeButton {
  z-index: 1;
}
