.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cardButton {

}

.cardButton:hover{
  background-color: #bbc6cd7d;
  border-radius: 1%;

}

.cardButton:active{
  background-color: #bbc6cdb6;
  border-radius: 1%;
}

.leftCentered {
  padding-left: 1rem;
  text-align: left;
}
.mainImage {
  /* border-radius: 1%; */
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px

}

.singleImage {
  border-radius: 0%;
  object-fit: cover;

  height: 500px;
}

.singleViewBody {
  /* border: 2px solid black; */

}
.singleViewBody p{
  background-color: antiquewhite;
  border: 2px double black;
  margin: 3px;
}
.commentBox {
  background-color: antiquewhite;
  border: 2px double black;
  margin: 3px;
}

.commentBox p{
  border: none;
  padding-left: 2rem;
  text-align: left;
}
.backButton {
  background-color: transparent;
  border-color: black;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1;
  width: 100%; /* Large, mobile-friendly touch target */
  border-radius: 3px;

  /* Media Queries */
  @media (min-width: 37.5em) {
    width: auto; 
    padding:0.4rem 2rem;
  }
}

.backButton:hover{
  border: 2;
  background-color: #C8DDD3;
}

.backButton:active{
  background-color:#bcdff7;
}

.heading {
  text-align: center;
  margin-top: 25px;
  font-size: larger;
}


.singleCard img{
  border: 2px solid black;
}

.card {
  border: 2px solid black;
  border-radius: 3px;
}

.formInput {
  margin: 10px;
  align-items: end;
  list-style-position: inside;
}

.submitButton {
  margin-top: 10px;
  background-color: transparent;
  border-color: black;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1;
  width: 100%; /* Large, mobile-friendly touch target */
  border-radius: 3px;

  /* Media Queries */
  @media (min-width: 37.5em) {
    width: auto; 
    padding:0.4rem 2rem;
  }
}

.submitButton:hover{
  border: 2;
  background-color: #bcf7e2b6;
}

.submitButton:active{
  background-color:#bcf7e2;
}

.image-preview img{
  max-width: '300px';
  max-height: '300px';
  padding-top: '5px';

}

.imageUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-color: black;
}

.imageInput {
  display:block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 20%;
}