@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Metrophobic&display=swap');


body {
    background-color: #fafafa; 
  }